<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Anya Forger</title>
    <script src="https://kit.fontawesome.com/1b5d036e6f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/css/styles.css" />
    <link rel="icon" href="AnyaFavicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>
    <div class="top-container">
        <img class="cloud-1" src="static/cloud.png" alt="cloud image">
        <h1>Hello! im Anya</h1>
        <p>I like peanuts 😍</p>
        <img class="cloud-2" src="static/cloud.png" alt="cloud image">
        <img src="static/mountain.png" alt="mountain image">
    </div>

<section id="main">
    <header>
        <section class="middle-1">
            <img src="static/Anya-modified.png" alt="anya's picture" id="anya-forger">
            <h2>Welcome!</h2>
            <p>I like peanuts ! 🥜</p>
            <p>& hate carrots ! 🥕</p>
        </section>
    </header>
    <hr>

    <h2>This is my family</h2>


    <img class="spy-family" src="static/Spy.x.Family.jpg" alt="Anya's Family">
    <p><strong>And i'm Anya</strong></p>

    <p id="anya-father">Anya's Father is a Spy.</p>
    <p id="anya-mother">Anya's Mother is an Asassin.</p>

    <hr>



<footer>
    <h2>Want more of Anya ?</h2>

    <p id="watch-me">Spy X Family airs every saturday 8:00 PM (GMT)</p>
    <p>you can watch Anya and Family here</p>
    <p><a href="https://www.youtube.com/playlist?list=PLwLSw1_eDZl1wGMYg5oB3uEns0CZNl6sI" target="_blank"> <i class="fa-brands fa-youtube fa-4x"></i></a></p>

</footer>

</section>


</body>

</html>